<form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">

  <div class="mb-3">
    <label for="name">Имя: </label>
    <input id="name" type="text" class="form-control" placeholder="Имя" formControlName="name">
    <div class="alert alert-danger" *ngIf="userForm.get('name')?.hasError('required') && (userForm.get('name')?.touched || userForm.get('name')?.dirty)">
      Имя обязательно
    </div>
  </div>

  <div class="mb-3">
    <label for="password">Пароль: </label>
    <input class="form-control" type="text" id="password" placeholder="Возраст" formControlName="password">
    <div class="alert alert-danger" *ngIf="userForm.get('password')?.hasError('required') && (userForm.get('password')?.touched || userForm.get('password')?.dirty)">
      Пароль обязателен
    </div>
    <div class="alert alert-danger" *ngIf="userForm.get('password')?.hasError('minlength') && (userForm.get('password')?.touched || userForm.get('password')?.dirty)">
      Требуется минимум 7 символов
    </div>
  </div>

  <div class="mb-3">
    <button type="submit" class="btn btn-info" [disabled]="userForm.invalid">Сохранить</button>
  </div>

</form>

<!-- <form #userForm="ngForm" (ngSubmit)="onSubmit()">

  <div class="mb-3">
    <label for="name">Имя: </label>
    <input id="name" type="text" class="form-control" name="name" placeholder="Имя" required minlength="4" maxlength="10" [(ngModel)]="model.name">
    <div *ngIf="formErrors.name" class="alert alert-danger">{{formErrors.name}}</div>
  </div>

  <div class="mb-3">
    <label for="age">Возраст: </label>
    <input class="form-control" type="text" id="age" name="age" required [(ngModel)]="model.age" placeholder="Возраст">
    <div *ngIf="formErrors.age" class="alert alert-danger">{{formErrors.age}}</div>
  </div>

  <div class="mb-3">
    <label for="role">Роль: </label>
    <select id="role" name="role" class="form-select" [(ngModel)]="model.role" required>
      <option selected disabled value="">Выберите роль</option>
      <option *ngFor="let role of roles" [value]="role">{{role}}</option>
    </select>
  </div>

  <div class="mb-3">
    <button class="btn btn-info" [disabled]="userForm.form.invalid">Сохранить</button>
  </div>

</form> -->