<div class="container">
  <div class="row">
    <div class="col">

      <h1 class="my-5">Пример работы с продвинутой формой</h1>

      <div class="row">
        <div class="col-6">

          <h2 class="my-3">Форма регистрации</h2>

          <app-form></app-form>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">

      <h1 class="my-5">Пример работы с продвинутой формой</h1>

      <div class="row">
        <div class="col-6">

          <h2 class="my-3">Форма регистрации</h2>

          <app-form></app-form>
        </div>
      </div>

    </div>
  </div>
</div>